*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 100%;
}




/* header */




.box1{
    height: 650px;
    width: 100%;
    background-color: blue;
    position: relative;
}

header{
    height: 70px;
    width: 100%;
    background-color: brown;
}

nav{
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: darkblue;
}

.logo , .links , .apri {
    float: left;
}

.links{
    width: 70%;
    height: 100%;
    background-color: darksalmon;
}

.logo , .apri {
    background-color: darkorchid;
    width: 15%;
    height: 100%;
}

.hero-txt{
    background-color: chartreuse;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    width: 750px;

}




/* main */





.box2{
    background-color: grey;
}

.main-txt{
    width: 60%;
    height: 100%;
    background-color: hotpink;
    margin: auto;
}

.colonna1 , .colonna2 {
    float: left;
}

.box2 .colonna1 , .box4 .colonna1{
    background-color: turquoise;
    width: 60%;
    height: 100%;
}

.box2 .colonna2 , .box4 .colonna2{
    background-color: honeydew;
    width: 40%;
    height: 100%;
}

.box3 .colonna1{
    background-color: honeydew;
    width: 40%;
    height: 100%;
}

.box3 .colonna2{
    background-color: turquoise;
    width: 60%;
    height: 100%;
}


.box2 , .box3 , .box4{
    width: 100%;
}

.box3{
    background-color: black;
}

.box4{
    background-color: grey;
}

.box5{
    background-color: black;
    width: 100%;
}




/* footer */




footer{
    background-color: teal;
    width: 100%;
}




/* debug */





.debug .hero-txt {
    height: 350px;
}

.debug .box2 , .debug .box3 , .debug .box4{
    height: 650px;
}

.debug .box5{
    height: 1390px;
}

.debug footer{
    height: 510px;
}

.debug .main-txt{

}