*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 100%;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
}





/* header */





header{
    height: 70px;
    width: 100%;
    background-color: #265ee8;
}

nav{
    margin: auto;
    width: 1150px;
    height: 100%;
/*     background-color: darkblue; */
}

.logo , .links , .apri {
    float: left;
    display: flex;
    align-items: center;
    position: relative;
}

.links{
    width: 70%;
    height: 100%;
/*     background-color: darksalmon; */
    justify-content: center;
}

.links li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.links  a {
    text-decoration: none;
    color: white;
}

.links  a:hover{
    text-decoration: underline;
}

.logo , .apri {
/*     background-color: darkorchid; */
    width: 15%;
    height: 100%;
}

nav #button1 {
    padding: 10px 17px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}





/* main */





.box1{
    height: 465px;
    width: 100%;
    position: relative;
    background-image: url(../img/jumbo.png);
    background-size: 1435px auto;
    background-repeat: no-repeat;
    background-position: center top ;
    background-color: #265ee8
    ;

}


.hero-txt{
/*     background-color: #265ee8; */
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    width: 690px;
    text-align: center;
    color: white;
}

.hero-txt > h1 {
    font-size: 50px;
    font-style: bold;
    margin-bottom: 20px;
}

.pulsanti-main  > #button1 , .pulsanti-main > #button2 {
    padding: 10px 17px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    right: 0;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}

.pulsanti-main{
    margin-top: 25px;
}

.pulsanti-main > #button2{
    background-color: black;
    color: white;
    margin-left: 20px;
}






.box2 , .box3 , .box4{
    width: 100%;
}

.box2 img , .box3 img , .box4 img {
    max-width: 80%;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 100px;
}

.colonna2  h2 , .colonna1 h2{
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 2rem;
}

.paragrafo{
    padding: 100px;
    padding-bottom: 200px;
    margin-top: 30px;
}

.colonna1 , .colonna2 {
    float: left;
}

.box2 .colonna1 , .box4 .colonna1 , .box3 .colonna2{
    width: 60%;
}

.box2 .colonna2 , .box3 .colonna1 , .box4 .colonna2{
    width: 40%;
}

.box3{
    /* background-image: url(../img/wave.svg); */
    background-color: grey;
}








.box5{
    background-color: black;
    width: 100%;
    position: relative;
}

.main-txt{
    width: 1150px;
    height: 100%;
    background-color: hotpink;
    margin: auto;
}

.main-special{
    width: 1150px;
    height: 80%;
    background-color: khaki;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.special1 , .special3{
    width: 100%;
    height: 20%;
    background-color: lightcoral;
}

.special2{
    width: 100%;
    height: 60%;
    background-color: rgb(124, 17, 17);
}




/* footer */





footer{
    background-color: teal;
    width: 100%;
}

.footerbox{
    width: 1150px;
    height: 100%;
    margin: auto;
    background-color: rgb(85, 9, 9);
}
    
.colonne-footer{
    width: 100%;
    height: 85%;
    background-color: lightpink;
}

.ultimi-pulsanti{
    width: 100%;
    height: 15%;
    background-color: rgb(250, 7, 43);
}

.cf1{
    float: left;
    width: 40%;
    height: 100%;
    background-color: lightskyblue;
}

.cf2 , .cf3 , .cf4 , .cf5 {
    float: left;
    width: 15%;
    height: 100%;
}

.cf2{
    background-color: rgb(177, 216, 240);
}

.cf3{
    background-color: rgb(19, 109, 165);
}

.cf4{
    background-color: rgb(48, 76, 94);
}

.cf5{
    background-color: rgb(85, 104, 116);
}

.up1 , .up2{
    float: left;
    width: 50%;
    height: 100%;
}

.up1{
    background-color: mediumaquamarine;
}

.up2{
    background-color: rgb(17, 233, 161);
}





/* debug */




/* .debug .hero-txt {
    height: 350px;
}

.debug .box2 , .debug .box3 , .debug .box4{
    height: 650px;
}

.debug .box2{
    background-color: grey;
}

.debug .box3{
    background-color: black;
}

.debug .box4{
    background-color: grey;
}

.debug .box2 .colonna1 , .debug .box4 .colonna1{
    background-color: turquoise;
    height: 100%;
}

.debug .box2 .colonna2 , .debug .box4 .colonna2{
    background-color: rgb(38, 138, 38);
    height: 100%;
}

.debug .box3 .colonna1{
    background-color: rgb(52, 158, 52);
    height: 100%;
}

.debug .box3 .colonna2{
    background-color: turquoise;
    height: 100%;
}

*/


.debug .box5{
    height: 1390px;
}

.debug footer{
    height: 510px;
} 

