*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 100%;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
}





/* header */





header{
    height: 70px;
    width: 100%;
    background-color: #265ee8;
}

nav{
    margin: auto;
    width: 1150px;
    height: 100%;
}

.logo , .links , .apri {
    float: left;
    display: flex;
    align-items: center;
    position: relative;
}

.links{
    width: 70%;
    height: 100%;
    justify-content: center;
}

.links li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.links  a {
    text-decoration: none;
    color: white;
}

.links  a:hover{
    text-decoration: underline;
}

.logo , .apri {
    width: 15%;
    height: 100%;
}

nav #button1 {
    padding: 10px 17px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}

nav #button1:hover{
    color: #8ea1e1;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}




/* main */


/* primo box */


.box1{
    height: 465px;
    width: 100%;
    position: relative;
    background-image: url(../img/jumbo.png);
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: center top ;
    background-color: #265ee8;
}

.hero-txt{
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    width: 690px;
    text-align: center;
    color: white;
}

.hero-txt > h1 {
    font-size: 50px;
    font-style: bold;
    margin-bottom: 20px;
}

.pulsanti-main  > #button1 , .pulsanti-main > #button2 {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    right: 0;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}

.pulsanti-main{
    margin-top: 25px;
}

.pulsanti-main > #button2{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.pulsanti-main > #button1:hover{
    color: #8ea1e1;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.pulsanti-main > #button2:hover{
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    background-color: #36393f;
}


/* sezioni pattern ripetuti */


.box2 , .box3 , .box4{
    width: 100%;
    position: relative;
}

.box3{
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.main-txt{
    width: 1150px;
    height: 100%;
    margin: auto;
    padding-bottom: 620px; /* <-----da verificare per aggiunta ''wave.svg'' */
    padding-top: 10px; /* <-----da verificare per aggiunta ''wave.svg'' */
}

.colonna1 , .colonna2 {
    float: left;
}

.box2 .colonna1 , .box4 .colonna1 , .box3 .colonna2{
    width: 60%;
}

.box2 .colonna2 , .box3 .colonna1 , .box4 .colonna2{
    width: 40%;
}

.paragrafo{
    padding: 100px;
    margin-top: 30px;
}
.colonna2  h2 , .colonna1 h2{
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 2rem;
}

.main-txt img {
    max-width: 80%;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 100px;
}





/* ultimo box main */



.box5{
    background-color: #f6f6f6;
    width: 100%;
    position: relative;
    text-align: center;
}

.main-special{
    width: 1150px;
    margin: auto;
    padding-top: 80px; /* <-----da verificare per aggiunta ''wave.svg'' */
    padding-bottom: 110px; 
}

.special1 , .special2 , .special3{
    width: 100%;
}

.box5  h2 {
    font-size: 40px;
}

.main-special img{
    width: 1000px;
    height: auto;
    margin: auto;
    display: block;
}

.box5 p {
    width: 65%;
    margin: auto;
}

.box5  h3 {
    font-size: 30px;
    margin-top: .5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-image: url(../img/stars.svg);
    background-size: 500px 80%;
    background-repeat: no-repeat;
    background-position: center top ;
}

.box5 #button1 {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    right: 0;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
    background-color: #265ee8;
    color: white;
}

.box5 #button1:hover {
    background-color: #8ea1e1;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}







/* footer */




footer{
    background-color: #23272a;
    width: 100%;
}

.footerbox{
    width: 1150px;
    height: 100%;
    margin: auto;
    /* background-color: rgb(85, 9, 9); */
}
    
.colonne-footer{
    width: 100%;
}

.ultimi-pulsanti{
    width: 100%;
    border-top: 1px solid #8ea1e1 ;
}

.cf1{
    float: left;
    width: 34%;
}

.cf2 , .cf3 , .cf4 , .cf5 {
    float: left;
    width: 15%;
}

.up1 , .up2{
    float: left;
    width: 50%;
}

.up1 > img:hover{
    cursor: pointer;
}

#lingua img{
    max-width: 18px;
}

.icone-social img {
    max-width: 18px;
    margin-left: 18px;
    filter: invert(100%);
}

#twitter{
    margin-left: 0;
}

.cf1, .cf2, .cf3, .cf4, .cf5{
    padding-top: 70px;
    line-height: 2;
    padding-bottom: 25px;
}

.cf1 h3 {
    font-size: 30px;
    width: 200px;
    line-height: 1.1;
    color: #8ea1e1;
    padding-bottom: 20px;   
}

#lingua{
    padding-bottom: 15px;
    color: white;
}

.colonne-footer li{
    list-style: none;
}

.colonne-footer a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.colonne-footer a:hover{
    text-decoration: underline;
}

#titolo-lista{
    color: #8ea1e1;
}

#titolo-lista:hover{
    text-decoration: none;
    cursor: text;
}

#lingua a:hover{
    text-decoration: none;
}

.up2 #button1 {
    padding: 7px 15px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
    float: right;
    background-color: #265ee8;
    color: white;
}

.up2 #button1:hover {
    background-color: #8ea1e1;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.ultimi-pulsanti{
    padding-top: 2rem;
    padding-bottom: 4.5rem;
}



/* wave section */


#wave-1 , #wave-2 {
    position: absolute;
    bottom: -40px;
    width:1440px;
    left:0;
    right:0;
    margin:0 auto;
    
}
 

  





/* debug */


/* .cf3{
    background-color: rgb(19, 109, 165);
}

.cf4{
    background-color: rgb(48, 76, 94);
}

.cf5{
    background-color: rgb(85, 104, 116);
}

.up1{
    background-color: mediumaquamarine;
}

.up2{
    background-color: rgb(17, 233, 161);
} */


/* .debug .hero-txt {
    height: 350px;
}

.debug .box2 , .debug .box3 , .debug .box4{
    height: 650px;
}

.debug .box2{
    background-color: grey;
}

.debug .box3{
    background-color: black;
}

.debug .box4{
    background-color: grey;
}

.debug .box2 .colonna1 , .debug .box4 .colonna1{
    background-color: turquoise;
    height: 100%;
}

.debug .box2 .colonna2 , .debug .box4 .colonna2{
    background-color: rgb(38, 138, 38);
    height: 100%;
}

.debug .box3 .colonna1{
    background-color: rgb(52, 158, 52);
    height: 100%;
}

.debug .box3 .colonna2{
    background-color: turquoise;
    height: 100%;
}

*/


/* .debug .box5{
    height: 1390px;
} */



/* .debug .special1 , .debug .special3{
    height: 20%;
    background-color: lightcoral;
}

.debug .special2{
    height: 60%;
    background-color: rgb(124, 17, 17);
} */


/* .debug footer{
    height: 510px;
}  */

