*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 100%;
    background-color: bisque;
}


/* header */


.box1{
    height: 650px;
    width: 100%;
    background-color: blue;
    position: relative;
}

header{
    height: 70px;
    width: 100%;
    background-color: brown;
}

nav{
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: darkblue;
}

.logo , .links , .apri {
    float: left;
}

.links{
    width: 70%;
    height: 100%;
    background-color: darksalmon;
}

.logo , .apri {
    background-color: darkorchid;
    width: 15%;
    height: 100%;
}

.hero-txt{
    background-color: chartreuse;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    width: 750px;
    height: 350px;

}


/* main */


.box2 , .box3 , .box4{
    height: 650px;
    width: 100%;
}

.box2{
    background-color: grey;
}

.box3{
    background-color: black;
}

.box4{
    background-color: grey;
}

.box5{
    height: 1390px;
    width: 100%;
    background-color: black;
}


/* footer */


footer{
    height: 510px;
    width: 100%;
    background-color: gray;
}