*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    width: 100%;
    margin: auto;
}




/* header */




.box1{
    height: 650px;
    width: 100%;
    background-color: blue;
    position: relative;
}

header{
    height: 70px;
    width: 100%;
    background-color: brown;
}

nav{
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: darkblue;
}

.logo , .links , .apri {
    float: left;
}

.links{
    width: 70%;
    height: 100%;
    background-color: darksalmon;
}

.logo , .apri {
    background-color: darkorchid;
    width: 15%;
    height: 100%;
}

.hero-txt{
    background-color: chartreuse;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    width: 750px;

}




/* main */





.box2{
    background-color: grey;
}

.box2 , .box3 , .box4{
    width: 100%;
}

.box3{
    background-color: black;
}

.box4{
    background-color: grey;
}

.box5{
    background-color: black;
    width: 100%;
    position: relative;
}

.main-txt{
    width: 80%;
    height: 100%;
    background-color: hotpink;
    margin: auto;
}

.colonna1 , .colonna2 {
    float: left;
}

.box2 .colonna1 , .box4 .colonna1{
    background-color: turquoise;
    width: 60%;
    height: 100%;
}

.box2 .colonna2 , .box4 .colonna2{
    background-color: rgb(38, 138, 38);
    width: 40%;
    height: 100%;
}

.box3 .colonna1{
    background-color: rgb(52, 158, 52);
    width: 40%;
    height: 100%;
}

.box3 .colonna2{
    background-color: turquoise;
    width: 60%;
    height: 100%;
}

.main-special{
    width: 80%;
    height: 80%;
    background-color: khaki;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.special1 , .special3{
    width: 100%;
    height: 20%;
    background-color: lightcoral;
}

.special2{
    width: 100%;
    height: 60%;
    background-color: rgb(124, 17, 17);
}


/* footer */




footer{
    background-color: teal;
    width: 100%;
}

.footerbox{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: rgb(85, 9, 9);
}
    
.colonne-footer{
    width: 100%;
    height: 85%;
    background-color: lightpink;
}

.ultimi-pulsanti{
    width: 100%;
    height: 15%;
    background-color: rgb(250, 7, 43);
}

.cf1{
    float: left;
    width: 40%;
    height: 100%;
    background-color: lightskyblue;
}

.cf2 , .cf3 , .cf4 , .cf5 {
    float: left;
    width: 15%;
    height: 100%;
}

.cf2{
    background-color: rgb(177, 216, 240);
}

.cf3{
    background-color: rgb(19, 109, 165);
}

.cf4{
    background-color: rgb(48, 76, 94);
}

.cf5{
    background-color: rgb(85, 104, 116);
}

.up1 , .up2{
    float: left;
    width: 50%;
    height: 100%;
}

.up1{
    background-color: mediumaquamarine;
}

.up2{
    background-color: rgb(17, 233, 161);
}





/* debug */




.debug .hero-txt {
    height: 350px;
}

.debug .box2 , .debug .box3 , .debug .box4{
    height: 650px;
}

.debug .box5{
    height: 1390px;
}

.debug footer{
    height: 510px;
}

